header{
  width:100%;
  height:50px;
  position:fixed;
  top:0;
  left:0;
}

body {
    background-color: #e6e6e6;
    
    text-align:center;
}
    
 .login-page {
    display:none;
}
   
main > section {
    display:none;
}
/*.topics {
  width: auto;
  padding: 8% 0 0;
  margin: center;

}
.template {
  
  position:  absolute;
  background: mediumseagreen;
    margin: center;
  width: 100%;
  height: 100%;
  left:0;
}*/


#loginbutton{
    cursor: pointer;
    
    font-weight:bolder
 
}
#logoutbutton {
     cursor: pointer;
    
    font-weight:bolder
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*box-shadow: 8px 8px 4px grey*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    float: left;
}

li a {
    
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration:none;
    font-weight: bolder;
   font-family: monospace;
    font-size: 120%;
    /*text-shadow: 2px 1px 1px grey;*/
 
}

li a:hover {
    color: mediumseagreen;
     text-decoration-line: underline;
    font-size: 100%;
}

  <!--Login page progress-->



/*main > section{
    display:none;
}*/


.login-page {
  width: 220px;
  padding: 8% 0 0;
  margin: center;
    
}
.form {
  
  position:  relative;

  background: #e6e6e6;
  max-width: 220px;
    top:150px;
  margin:auto;
  padding: 25px;
  text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form input {
  
  outline: 4;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
     border:1px solid mediumseagreen;
   /* font-style: italic;*/
}
.form button {

  text-transform: uppercase;
    font-weight: bolder;
  outline: 2;
  background: dimgrey;
  width: 100%;
  border: 0;
  padding: 5px;
  color: #f0f0f5;
  font-size: 14px;
      box-shadow:inset 0 0 3px white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  cursor: pointer;
    
}
.form button:hover,.form button:active,.form button:focus {
  background: mediumseagreen;
    color: dimgrey;
   /* border:2px solid white;*/
}
.form .message {
  margin: 10px 0 -5px;
  /*  padding: 5px 0 0;*/
  font-size: 16px;
    font-style: italic;

}
.form .message a {
  color: mediumseagreen;
  text-decoration: none;
}
.message:hover
{
  /*  text-decoration-line:line-through;*/
    font-style:normal;
    font-weight:bolder;
   

    
}
.form .register-form {
  display: none;
}

.form .CloseLogin {
     margin: 10px 0 -15px;
  font-size: 16px;
    color:dimgrey;
     cursor: pointer;
    font-weight:bolder
        
}

.CloseLogin:hover  {
        text-decoration-line:underline;
            
    }

.HomePage {
    
    padding-top:250px;
     text-align: center;
  
    font-size:250%;
    font-family: monospace;
  
   
}

#seeRecent{
     padding-top:100px;
     text-align: center;
    font-size:250%;
    font-family: monospace;
}

#CreatePosts{
    
    width: 420px;
  padding: 8% 40% 0;
  margin: center;
}

#CreateNewPost{
    position:relative;
  background: #e6e6e6;
  max-width: 420px;
 margin:auto;
  text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form2 button {

  text-transform: uppercase;
    font-weight: bolder;
  outline: 2;
  background: dimgrey;
  width: 100%;
  border: 0;
  padding: 5px;
  color: #f0f0f5;
  font-size: 14px;
      box-shadow:inset 0 0 3px white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  cursor: pointer;
    
}
.form2 button:hover,.form button:active,.form button:focus {
  background: mediumseagreen;
    color: dimgrey;
    
}

#postcontent
{
      outline: 4;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
     border:1px solid dimgrey;
}
#titlepost{
      outline: 4;
  background: white;
  width: 95%;
  border: 0;
  margin: 15px 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
     border:1px solid dimgrey;
}

